* {
    margin: 0 auto;
}

html, body {
    font-size: 16px;
    height: 100%;
    width: 100%;
    text-align: left;
    background-color: white;
    color: black;
    scroll-behavior:smooth;
}
.flex-container {
    display: flex;
    justify-content: center;
}

.nav {
    position: absolute;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, 0);
}

.nav ul {
    position: fixed;
    height: 20px;
    list-style: none;
    margin: 0 auto; 
    padding: 0;
    width: 400px;
    display: flex;
    
    }
}

.nav ul li {  
    transition: background .5s;
}

.nav ul li:hover {
    opacity: .3;
    cursor: pointer; 
    transition: background .5s;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    scroll-behavior: smooth;
    
}

.title {
    background-image: url("golden\ gate\ bridge\ night.jpg" );
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.name {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3em;
    color: white;
}

.social {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}
.icons li a {
    color: white;
}
li a:hover {
    color:rgb(181, 173, 173);
    opacity: .9;
}

.about-me {
    padding-top: 50px;
    padding-bottom: 100px;
    display: block;
    margin: 0 auto;
    /*width: 70%; */
    background-color: #ebeeee;
    font-size: 1.6em;
}
.prof-pic {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    padding-bottom: 20px;
    float: left;
}
.about-me p {
    width: 700px;
    display: inline-block;
    text-align: justify;
}
.about-me h3,h1 {
    text-align: center;
}
.about-me h1 {
    text-align: center;
}
.footer-nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
}
.footer-nav li a{
    text-decoration: none;
    color: black;
    font-size: 1.6em;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
}
.projects ul {
    padding-top: 2em;
    padding-bottom: 3em;
}
.projects ul li {
    height: 400px;
    width: 700px;
    list-style-type: none;
    display: flex;

}#project1 {
    background-image: url("berkeleyhaas.jpg" );
    background-size: cover;
}
#project2 {
    background-image: url("pwc.jpg" );
    background-size: cover;
}
#project3 {
    background-image: url("uiux.jpg" );
    background-size: cover;
}



