* {
    margin: 0 auto;
}

html, body {
    font-size: 16px;
    height: 100%;
    width: 100%;
    text-align: left;
    background-color: white;
    color: black;
}
.flex-container {
    display: flex;
    justify-content: center;
}

.nav {
    position: absolute;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, 0);
}

.nav ul {
    position: fixed;
    height: 20px;
    list-style: none;
    margin: 0 auto; 
    padding: 0;
    width: 400px;
    display: flex; 
    }
}

.nav ul li {  
    transition: background .5s; 
}

.nav ul li:hover {
    opacity: .3;
    cursor: pointer; 
    transition: background .5s;
}

.nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
}

.title {
    background-image: url("./golden\ gate\ bridge.jpg" );
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.name {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3em;
    color: rgb(0, 0, 0);
}

.social {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}
.icons li a {
    color: black;
}
li a:hover {
    color:rgb(181, 173, 173);
    opacity: .9;
}

.about-me {
    padding-top: 50px;
    padding-bottom: 100px;
    display: block;
    margin: 0 auto;
    width: 50%;
}
.prof-pic {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0px, 100px;
    padding-bottom: 20px;
}
.about-me p {
    display: inline-block;
    width: 700px;
}
.footer-nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
}
.footer-nav li a{
    text-decoration: none;
    color: black;
    font-size: 1.6em;
}

